/* The fixed image container */
.fixed-top-photo {
    position: fixed;
    min-height: max-content;
    top: 40px;
    left: 10;
    right: 10;
    width: 45%;
    height: 40vh;  /* Occupies 25% of the viewport height */
    z-index: 9999; /* Stay on top */
    overflow: hidden;
    box-shadow: 0 16px 0 rgba(0, 0, 0, 0.01); /* Add shadow effect */
}

/* Default padding */
[data-testid="stAppViewContainer"] {
    padding-top: 28vh;  /* Add padding to push content below the fixed image */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    [data-testid="stAppViewContainer"] {
        padding-top: 30vh;  /* Increase padding for smaller screens */
    }
}